* {box-sizing: border-box;
}
 
body{
font-family: Arial, sans-serif;
color: black;}
 
/* Header */
.top-bg-row {
    width: 100%;
    height: 350px;
    background-color: #a9a9a9;
    text-align: center;
    padding: 50px;
    margin-bottom: 0px;
    background-image: url(/Images/nd1.jpg);
    background-repeat: repeat;
    background-size: none;
    background-position: top;
    background-blend-mode:lighten;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
 
.header {
    padding: 20px 0;
    background-color:#FEFAE0;
    color: #606C38;
}
 
.HeaderCol {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 33.33%;
    text-align: center;
}
 
 
#Header-name {
    margin-left: 30px;
    font-size: 50PX;
    font-weight: bold;
    color: #606C38;
}
 
#logo {
    width: 55px;
    margin-left: 50px;
    padding-right: 5px;
}
 
#logo-name {
    display: inline-block;
    font-size: 100%;
    margin-top: 10px;
    color: #606C38;
    border-left: 3px solid #606C38;
    padding-left: 15px;
}
 

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FEFAE0;
}

.navbar, .navbar1 {
  float: left;
}

.navbar, .navbar1, .navbar2{
  display: block;
  color: #606C38;
  padding: 8px 8px;
  text-decoration: none;
  text-decoration: underline;
}

/* Header */
 
 
/*Intro*/
h2
{
font-size: 45px;
margin-left: 5%;
margin-bottom: 5px;
color: #283618;
}
 
p
{
font-size: 20px;
margin-left: 5%;
color: #606C38;
margin-right: 5%;
}
 


.More{
    color: #606C38;
    text-decoration: none;
    background-color: #FEFAE0;
    border-radius: 15px;
    margin-left: 5%;
    width: 40px;
    padding: 5px 10px;
}

.tools{
    color: #606C38;
    text-decoration: none;
    margin-left: 5%;
    padding: 5px 10px;
    font-size: 20px;
} 

/*Intro*/
 
/*Types Of Natural Disesters*/
a{
text-decoration: none;
}
 
.card2>img
{
border-radius: 50%;
width: 100px;
height: 100px;
}
 
.card2
{
background-color: #FEFAE0;
padding: 5px;
height: 350px;
text-align: center;
border-radius:45% ;
}
 .card2 p{
    margin:auto;
 }

 .col2{
box-sizing: border-box;
width: 25%;
float: left;
padding: 10px;
 }

.smth{
    color: #606C38;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    text-align: left;
}
/*Types Of Natural Disesters*/
 
/*Causes and Consequences*/
.container
{
width: 95%; height: auto;
margin: auto;
}
 
.row
{
width: 100%; height: auto;
}
 
.clearfix::after{
clear: both;
content:"";
display:block;
}
 
.col{
box-sizing: border-box;
width: 25%;
float: left;
padding: 10px;
}
 
.card
{
background-color: #FEFAE0;
padding: 5px;
height: 550px;
text-align: center;
}
 
.card>img
{
border-radius: 60%;
width: 150px;
height: 150px;
}

.col6{
box-sizing: border-box;
width: 25%;
float: left;
padding: 10px;
}
 
.card6
{
background-color: #FEFAE0;
padding: 5px;
height: 250px;
text-align: center;
}
 
.card6>img
{
border-radius: 60%;
width: 150px;
height: 150px;
}
/*Causes and Consequences*/
 
/*Table*/
table,tr,th, td {
border: 2px solid #000000;
border-collapse: collapse;
height: 35px;
width: auto;
margin-left:90px;
margin-top: 20px;
text-decoration: none;
color: #606C38;
}
 
.td1{
width: 35px;
background-color: #DDA15E;
}
 
.td2, .td3, .td4, .td5{
width: 250px;
}

.td3 a{
    text-decoration: underline;
    color:#283618 ;
}
tr:hover{
background-color: #FEFAE0;
color: white;}
th{
background-color: #DDA15E;
}

th>p{
    color: #606C38;
}
/*Table*/
 #More{
     background-color:#DDA15E;
     color:#606C38;
     text-decoration: none;
     padding: 7px 12px;
     border-radius: 20px;
}
/*Safety Tips*/
.container2
{
font-family: Arial, sans-serif;
margin: 20px ;
padding: 20px;
}
 
.con2-title
{
font-size: 25px;
margin-bottom: 20px;
text-align: center;
}
 
.con2-row
{
display: flex;
padding: 30px;
}
 
 .con2-col
{width: 10%;
text-align: center;
margin: 20px;
}
 
.con2-col img
{
width: 50px;
margin: auto;
display: block;
}
 
.con2-col p
{
font-size: 14px;
margin-top: 8px;
}
/*Safety Tips*/
 
/*Gallery*/
.container3
{
font-family: Arial, sans-serif;
padding: 20px;
text-align: center;
}
 
.con3-row
{
display: flex;
padding: 20px;
margin: 20px;
}
 
.con3-col
{
width:100%;
}
 
.con3-col img
{
width: 180px;
height: 180px;
clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
 
 
.con3-title
{
margin-top: 10px;
font-size: 16px;
}
/*Gallery*/

/* Footer */
.footer {
    background-color: #FEFAE0;
    color: #606C38;
    padding: 30px 0;
    font-family: Arial, sans-serif;
}
 
.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 20px;
}
 
.footer-col {
    width: 30%;
}
 
.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
 
.footer-col ul {
    list-style: square;
    padding: 0;
}
 
.footer-col ul li {
    margin-bottom: 5px;
    font-size: 15px;
}
 
.footer-col a {
    color: #606C38;
}
 
.footer-col a:hover {
    color: #ff8a46;
}
 
#footer-logo {
    width: 75px;
    padding-right: 5px;
}
 
#footer-logo-name {
    display: inline-block;
    font-size: 100%;
    margin-top: 10px;
    color: #606C38;
    border-left: 3px solid #606C38;
    padding-left: 15px;
}
 

/* Footer */
 
/* Social Icons */
.footer-icons {
    width: 20%;
    text-align: right;
    padding-top: 25px;
}
 
.footer hr {
    border: 0;
    height: 1px;
    background-color: #FEFAE0;
    width: 90%;
    margin: 20px auto;
}
 
.footer-credit {
    font-size: medium;
    text-align: center;
    color: #606C38;
}
.fa {
    padding: 10px 7px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 8px;
}
 
.fa-facebook { background: #3B5998; color: white; }
.fa-youtube { background: #bb0000; color: white; }
.fa-twitter { background: #1DA1F2; color: white; }

.causes{
    font-size: 17px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 5px;
}
/* Footer */
 
.h3m{
    margin-left: 5%;
    color: #283618;
    font-size: 35px;
}
.h3n{
    color: #283618;
    font-size: 30px;
}
